.map {
  width: 100%;
  height: 100%;
}

.marker {
  position: relative;
  display: inline-block;
}

.dot {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #340101;
  border-radius: 50%;
}
